<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>

	<p>
	You've found the homepage for the 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application.
	</p>

	<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

</div>

<div class="row">
  <div class="span4 offset1">
  	<h2>Test1</h2>
  	<p>Blarg-dy-blarg blarg</p>
  </div>
  <div class="span4 offset1">
  	<h2>Test2</h2>
  	<p>Blarg-dy-blarg blarg</p>
  </div>
</div>

